<!--<button (click)="addOption(option)">New Option</button>-->
<!--<button (click)="randOption()">Calculate Price</button>-->
 
<!--<div  *ngFor ="let option of options">-->
  <!--  <button (click)="editOption(option)">editOption</button> !-->
   <button (click)="getOptionFromRedis()">Get Redis Data</button>

  <div>
    <label>Min Time: {{minTime | date:'yyyy-MM-dd hh:mm:ss'}}</label>
    <br/>
    <label> Max Time: {{maxTime | date:'yyyy-MM-dd hh:mm:ss'}}</label>
    <br/>
    <label [style.background-color]="'yellow'">Total Time: {{totalTime}}</label>

  </div>
  <div  class ="container">
    <table class="table table-bordered tabl>e-striped" >
        <thead class="thead-dark">
          <tr>
            
            <th scope="col">Stock Name</th>
            <th scope="col">Option Name</th>
            <th scope="col">Strike</th>
            <th scope="col">volatility</th>
            <th scope="col">Expiry Date</th>
            <th scope="col">Stock Price</th>
            <th scope="col">Option Price</th>
            
            <th scope="col">Last Update Time</th>
          </tr>
        </thead> 

        
         <tbody *ngFor ="let option of options  | paginate: {  id:'listing_pagination', itemsPerPage: 25, currentPage: page };trackBy:trackByOptionCode"> 
          <!-- <tbody *ngFor ="let option of options;trackBy:trackByOptionCode">  -->
                          
          <tr *ngIf="option.formatColor === 'White'" [style.background-color]="'white'">
                  <th scope="row">{{option.stockName}}</th>
                  <td>{{option.optionName}}</td>
                  <td>{{option.strike}}</td>
                  <td>{{option.volatility}}</td>
                  <td>{{option.expiryDate | date}}</td>
                  <td>{{option.stockPrice}}</td>
                  <td>{{option.optionPrice}}</td>
                  <!-- <td *ngIf="option.formatColor === 'White'" [style.background-color]="'white'">{{option.optionPrice}}</td>
                  <td *ngIf="option.formatColor === 'Green'" [style.background-color]="'green'">{{option.optionPrice}}</td>
                  <td *ngIf="option.formatColor === 'Red'" [style.background-color]="'red'">{{option.optionPrice}}</td>
                  -->
                  <td >{{option.lastUpdatedTime | date: 'yyyy-MM-dd hh:mm:ss'}}</td>
          </tr>
          <tr *ngIf="option.formatColor === 'Green'" [style.background-color]="'green'">
            <th scope="row">{{option.stockName}}</th>
                  <td>{{option.optionName}}</td>
                  <td>{{option.strike}}</td>
                  <td>{{option.volatility}}</td>
                  <td>{{option.expiryDate | date}}</td>
                  <td>{{option.stockPrice}}</td>
                  <td>{{option.optionPrice}}</td>
                  <td>{{option.lastUpdatedTime | date}}</td>
        </tr>
          <tr *ngIf="option.formatColor === 'Red'" [style.background-color]="'red'">
            <th scope="row">{{option.stockName}}</th>
                  <td>{{option.optionName}}</td>
                  <td>{{option.strike}}</td>
                  <td>{{option.volatility}}</td>
                  <td>{{option.expiryDate | date}}</td>
                  <td>{{option.stockPrice}}</td>
                  <td>{{option.optionPrice}}</td>
                 
                  <td>{{option.lastUpdatedTime | date}}</td>
        </tr>
        </tbody>
        </table>
        <div>
           <pagination-controls  id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
        </div>
      </div>
    <!--<app-display-option [option]="option"></app-display-option>-->   
<!--</div>-->
