<div class="container">
<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li>
            <a routerLink="listOptions">Listoption</a>
        </li>
        <li>
            <a routerLink="list">List</a>
        </li>
        <li>
            <a routerLink="create">Create</a>
        </li> 
        <li>
            <a routerLink="edit">edit</a>
        </li>    
    </ul>
</nav>
<router-outlet></router-outlet>
</div>
<!--<div class="container">
<app-list-employees></app-list-employees>
</div> -->